# 语言
Language: Cpp
# 标准
Standard: c++20
# 基础风格
BasedOnStyle: Google
# 括号后对齐
AlignAfterOpenBracket: Align
# 操作符对齐
AlignOperands: Align
# 注释对齐
AlignTrailingComments: true
# 实参换行
AllowAllArgumentsOnNextLine: false
# 声明形参换行
AllowAllParametersOfDeclarationOnNextLine: false
# 构造函数初始化列表换行
AllowAllConstructorInitializersOnNextLine: false
# 短代码段在同一行
AllowShortBlocksOnASingleLine: true
# 短枚举在同一行
AllowShortEnumsOnASingleLine: false
# 短If语句在同一行
AllowShortIfStatementsOnASingleLine: true
# 短循环语句在同一行
AllowShortLoopsOnASingleLine: false
# 短方法在同一行
AllowShortFunctionsOnASingleLine: InlineOnly
# 模板定义换行
AlwaysBreakTemplateDeclarations: true
# 实参打包
BinPackArguments: true
# 形参打包
BinPackParameters: true
# 操作符前换行
BreakBeforeBinaryOperators: NonAssignment
# 括号前换行
BreakBeforeBraces: Allman
# 单行长度限制
ColumnLimit: 0
# 构造函数初始化列表全部在一行或一个一行
ConstructorInitializerAllOnOneLineOrOnePerLine: false
# 换行接续缩进
ContinuationIndentWidth: 8
# Cpp11的带括号列表格式化风格
Cpp11BracedListStyle: true
# 自动打包
ExperimentalAutoDetectBinPacking: true
# 缩进访问修饰符
IndentAccessModifiers: true
# 缩进Case标签
IndentCaseLabels: true
# 缩进宽度
IndentWidth: 4
# 指针对齐
PointerAlignment: Left
# Include排序
SortIncludes: false
# 容器字面量加入空格
SpacesInContainerLiterals: false
# 注释前空格
SpacesBeforeTrailingComments: 2
# 使用Tab
UseTab: Never